@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
  margin: 0px;
  padding: 0px; 
  font-family: 'Poppins', sans-serif;
}

.App{
  display:flex;
  align-items: center;
  min-height: 100vh;
}

.app-shield{
  width: 100%;
}

.postNotShown {
  width: 100%;
  display: flex;
  justify-content: center;
}

.postNotShown p {
  font-size: 5rem;
}

.btnSize{
  height: 50px;
  border: none;
  font-size: 1rem;
}

.btnGreeting{
  width: 50vw;
  margin-bottom: 10px;
}

.moreBtn{
  background-color: rgba(59, 182, 69, 0.897);
  color:white;
}

.filterBtn{
  background-color:rgb(190, 190, 26);
  color:white;
}

.resetBtn{
  background-color: rgba(219, 16, 16, 0.822);
  color:white;
}

.moreBtn-container{
  display: flex;
  justify-content: center;
}

.displayCenter{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btnArrayContainer{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

}

.jobCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
  height: 100%;
  background-color:rgba(109, 109, 109, 0.472);
  z-index: -2;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: background-color, color;
  transition-property: background-color,color;
  border-radius: 5px;
  font-size:25px;

}

.cardMargin{
  margin: 10px 0px 10px 0px;
}

.btnArrayContainer{
  z-index: 1000;
}

.favBtn{
  width: 100%;
  border:none;
  height: 30px;
  color:white;
  background-color:rgb(117, 117, 15);
  z-index: 2;
}

.companyLabel{
  display:none;
}

.popUpContainer{
  height: 100%;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popUpWindow{
  width: 90%;
  height: 90%;
  background-color: rgb(52, 100, 202);
  overflow: scroll;
  padding:20px;
  z-index: 10000000;
}

.divider{
  height: 5px;
  width: 100%;
  background-color: grey;
  margin-bottom: 15px;

}

.marginBtm{
  margin-bottom: 35px;
}

.jobCompany{
  font-size:1.1em;
}

.jobTitle{
  font-size: 0.75em;
}

.jobLocation{
  font-size: 0.6em;
}

.jobType{
  font-size: 0.6em;}


@media only screen and (min-width: 1025px) {
  .jobCard:hover{
  background-color: rgb(56, 136, 211);
  cursor: pointer;
  color:white;
  }

  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  /* Sweep To Right */

  .hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  

}